numpy 
pandas
langchain
langchain-community
langchain-core
langchain-pinecone
streamlit
pinecone
langchain-text-splitters
pypdf
python-dotenv
langchain-huggingface
langchain-huggingface
langchain-ollama
langchain-openai
ollama
torch
seaborn